.cards__like-icon {
  background-image:url(../../images/like-icon_disabled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 19px;
  width: 22px;
  border: none;
}

.cards__like-icon:active {
  background-image:url(../../images/like-icon_active.svg);
}

